.*.swp
watch_later/
cookies.txt
default.target.wants/
.netrwhist
gmail.py
chromium/
accels.scm
xfce4/
renamerrc
menus/
psd/
pulse/
Trolltech.conf
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
Clementine/
caffeine/
gtk-2.0/
gtk-3.0/
htop/
mcomix/
dconf/
skypeforlinux/
