**/config/Clementine/
**/config/Mousepad/accels.scm
**/config/Thunar/accels.scm
**/config/Thunar/renamerrc
**/config/Trolltech.conf
**/config/caffeine/
**/config/chromium/
**/config/dconf/
**/config/galculator
**/config/gtk-2.0/
**/config/gtk-3.0/
**/config/htop/
**/config/libreoffice/
**/config/mcomix/
**/config/menus/
**/config/mimeapps.list
**/config/mpv/watch_later/
**/config/pavucontrol.ini
**/config/psd/
**/config/pulse/
**/config/skypeforlinux/
**/config/systemd/user/default.target.wants/
**/config/transmission/
**/config/unity3d/
**/config/user-dirs.dirs
**/config/user-dirs.locale
**/config/vlc/vlc-qt-interface.conf
**/config/xfce4/
**/config/youtube-dl/cookies.txt
**/scripts/gmail.py
.*.swp
.netrwhist
