**/bin/rtorrent-magnet
**/config/arkrc
**/config/btop/
**/config/caffeine/
**/config/cef_user_data/
**/config/chromium*
**/config/chromium-back-ovfs/
**/config/configstore/
**/config/conky-manager.json
**/config/dconf/
**/config/deluge/
**/config/easytag/
**/config/galculator
**/config/GIMP/
**/config/go/
**/config/gomics/
**/config/google-chrome*
**/config/gtk-2.0/
**/config/gtk-3.0/
**/config/htop/
**/config/inkscape/
**/config/libreoffice/
**/config/mcomix/
**/config/menus/
**/config/mimeapps.list
**/config/Mousepad/accels.scm
**/config/mpv/scripts/
**/config/mpv/watch_later/
**/config/pavucontrol.ini
**/config/PawelStolowski/
**/config/psd/
**/config/pulse/
**/config/qBittorrent/*
**/config/QtProject.conf
**/config/skypeforlinux/
**/config/systemd/user/default.target.wants/
**/config/TabNine/
**/config/Thunar/accels.scm
**/config/Thunar/renamerrc
**/config/tint2/
**/config/transmission/
**/config/Trolltech.conf
**/config/unity3d/
**/config/user-dirs.dirs
**/config/user-dirs.locale
**/config/vlc/vlc-qt-interface.conf
**/config/xfce4/
**/config/xpad/
**/config/youtube-dl/cookies.txt
**/config/youtube-dl/cookies.txt.bak
**/scripts/gmail.py
**/scripts/notify-test
**/scripts/test
.*.swp
.netrwhist
