[Desktop Entry]
Encoding=UTF-8
Name=Conky4awesome
GenericName=System monitor
Comment=Run conky for awesome wm
Exec=conky -c /home/paseu/.conky/Gotham_awesome -d
Icon=conky
Terminal=false
Type=Application
Categories=System;
StartupNotify=false
Hidden=false
