[Desktop Entry]
Type=Application
Name=conky
Exec=conky -c /home/paseu/dotfiles/desktop/conky/conky_new --daemonize
StartupNotify=false
Terminal=false
